<h2>Login page</h2>

<%= form_for(:session, url: :login) do |f| %>
  <%= f.text_field :email, placeholder: 'email address' %>
  <%= f.password_field :password, placeholder: 'password' %>
  <%= f.submit "Login" %>
<% end %>